body {
  text-align: center;
}

.output-container {
  justify-self: end;
  width: 25%;
}

.borders {
  border: 1px solid lightgreen;
  border-radius: 5px;
}

#users-container {
  min-width: 25%;
  gap: 10px;
}
